.bg-black {
    background-color: black;
}

.tx-white{
    color: white;
}
.tx-brown{
    color: #A16040;
}
.tx-italic{
    font-style: italic;
}
.tx-center{
    text-align: center;
}
.tx-style{
    font-family: 'Times New Roman', Times, serif;
}
.font-size-1{
    font-size: 1em;
}
.font-w-700{
    font-weight: 700;
}
.font-w-400{
    font-weight: 400;
}
.pad-24{
    padding: 24px;
}
.container{
    width: 70%;
}
.my-24{
    margin-top: 24px;
    margin-bottom: 24px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-42{
    margin-bottom: 42px;
}
.mb-6{
    margin-bottom: 6px;
}

.my-12{
    margin-top: 12px;
    margin-bottom: 12px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.a-link-blue{
    color:#566EAD;
    font-style: italic;
}
.img-section {
    height: 500px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 42px;
}   
